<div class="row">
    <div *ngIf="siderbarStatus" class="col-2 shadow d-flex align-items-center flex-column">
        <h4 class="side_btn mt-5 text-center ms-4 fw-bolder"><a routerLink="/dashboard">Home</a></h4>
        <h4 class="side_btn my-4 text-center ms-4 fw-bolder"><a routerLink="/users">User</a></h4>
    </div>
    <div class="col-9">
        <div class="row">
            <p>Logged at : {{adminLoggedStatus |date:'medium'}}</p>

            <div class="col-8">
                <div class="card m-5 p-2 ">
                    <h4><i (click)="menubarClicked()" class="fa-solid fa-bars  me-4 "></i>Welcome <span class="text-dark">{{adminName}}</span></h4>
                </div>
                <div class="row">
                    <div class="col-6">
                        <app-calendar></app-calendar>
                    </div>
                    <div class="col-6">
                        <app-pie-chart></app-pie-chart>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="admin-card text-center shadow m-3 p-3 mt-5">
                    <h3>Admin Details</h3>
                    <img width="200px" src="https://secure.webtoolhub.com/static/resources/icons/set108/b5cdab07.png"
                        alt="admin_icon">
                    <input [(ngModel)]="adminDetails.name" type="text" placeholder="Name" class="form-control my-3">
                    <input [(ngModel)]="adminDetails.password" type="password" placeholder="password" class="form-control mb-3">
                    <div class="m-4 button text-center">
                        <button class="btn btn-success form-control" (click)="updateAdmin()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>