<div class="row">
    <div class="col-2 shadow d-flex align-items-center flex-column">
        <h4 class="side_btn mt-5 text-center ms-4 fw-bolder"><a routerLink="/dashboard">Home</a></h4>
        <h4 class="side_btn my-4 text-center ms-4 fw-bolder"><a routerLink="/users">User</a></h4>
    </div>
    <div class="col-9">

        <h3 class="m-5 fw-bolder text-center">User List</h3>
        <div>
            <button class="btn btn-light" style="float: right; border: 1px solid grey;" routerLink="/users/add">Add <i
                    class="fa-solid fa-user-plus "></i></button>
        </div>
        <div class="d-flex p-4">
            <input type="text" [(ngModel)]="searchText" placeholder="search by name" class="form-control w-50">
            <button mat-button [matMenuTriggerFor]="menu" class="btn btn-primary mx-4">Sort</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="sortById()">By Id</button>
                <button mat-menu-item (click)="sortByName()">BY Name</button>
            </mat-menu>


            <button class="btn btn-primary mx-4" (click)="generatePDF()"> Export to pdf</button>
        </div>
        <table class="table align-middle mb-0 bg-white shadow">
            <thead class="bg-light">
                <tr class=" ">
                    <th class=" ">Id</th>
                    <th class="">Name</th>
                    <th class="">Email</th>
                    <th class=" ">Status</th>
                    <th class=" ">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers | search:searchText | paginate :{itemsPerPage : 5, currentPage : p}"
                    [hidden]="user.id==='1' " class=" ">
                    <td class=" ">{{user.id}}</td>
                    <td class="">{{user.name}}</td>
                    <td class=" ">{{user.email}}</td>

                    <td [ngClass]="user.active==='1'? 'btn  text-success  fw-bolder':'btn fw-bolder text-danger' "
                        class=" ">{{user.active=="1"? "Active":"Inactive"}}</td>

                    <td class=" ">
                        <div class="d-flex ">
                            <button class="btn  me-5" routerLink="edit/{{user.id}}"><i
                                    class="fa-solid fa-pen text-primary"></i></button>
                            <button (click)="deleteUser(user.id)" class="btn"><i
                                    class="fa-solid fa-trash text-danger"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center my-5 fw-bolder">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>